.counterParent {
  background-image: url(../assets/counter.jpg);
  height: 600px;
  margin-top: 50px;
  background-repeat: no-repeat;
  margin-left: 168px;
}
.coffee,
.idly {
  position: absolute;
  color: #fff;
  font-size: 50px;
  margin-top: 250px;
  margin-left: 150px;
}
.idly {
  margin-left: 400px;
}
.subText {
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}
